/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: relative;
  border-bottom: 3px solid #c13832;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

main {
  text-align: center;
}

.buttons {
  position: relative;
}

.start-button {
  background-color: #2A9961;
  cursor: pointer;
  color: white;
  border-bottom: solid 2px rgba(0,0,0,.3);
  border-radius: 2px;
  padding: 8px 15px 8px 15px;
  display:inline-block;
}

.start-button:hover {
  opacity: 0.9;
}

.stop-button {
  background-color: #c13832;
  cursor: pointer;
  color: white;
  border-bottom: solid 2px rgba(0,0,0,.3);
  border-radius: 2px;
  padding: 8px 15px 8px 15px;
  display:inline-block;
  margin-left: 15px;
}

.stop-button:hover {
  opacity: 0.9;
}

.reset-button {
  background-color: #c3c3c3;
  cursor: pointer;
  color: white;
  border-bottom: solid 2px rgba(0,0,0,.3);
  border-radius: 2px;
  padding: 8px 15px 8px 15px;
  display:inline-block;
  margin-left: 15px;
}

.reset-button:hover {
  opacity: 0.9;
}

.settings-button {
  float: right;
  cursor: pointer;
  position: relative;
  margin-right: 25px;
}

.settings-button:hover {
  opacity: 0.9;
}

.settings-close-button {
  background-color: #c3c3c3;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  color: white;
  border-radius: 2px;
  border-bottom: solid 2px rgba(0,0,0,.3);
  display:inline-block;
}

.settings-close-button:hover {
  opacity: 0.9;
}

.timer {
  font-size: 5rem;
  font-weight: 700;
  color: #c13832;
  /*border-bottom: 3px solid #c13832;*/
  margin-top: 50px;
  margin-bottom: 50px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 30px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 2px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-footer {
  padding-top: 15px;
  text-align: right;
  border-top: 1px solid #c13832;
}

.settings {
  padding-bottom: 50px;
}

* Input range sliders
- - - - - - - - - - - - - - - - - - - - - - - - */
/** 
* Chrome
* Firefox
* Internet Explorer
*/

/* Chrome */
input[type=range] {
  -webkit-appearance: none;
  /* required for proper track sizing in FF */
  width: 75%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 75%;
  height: 4px;
  background-color: #bdc3c7;
  border: none;
  border-radius: 3px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #ecf0f1; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c13832;
  margin-top: -6px; }

/* Firefox */
input[type=range]::-moz-range-track {
  height: 4px;
  background-color: #bdc3c7;
  border: none;
  border-radius: 3px; }

input[type=range]:focus::-moz-range-track {
  background-color: #ecf0f1; }

input[type=range]::-moz-range-thumb {
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c13832; }

input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px; }